*-backups/
fp-info-cache
sym-lib-table
boards/Reflex_V1/.DS_Store
boards/.DS_Store
boards/Reflex_V1/outputs/.DS_Store
boards/Reflex_V1/jlcpcb/.DS_Store
boards/Reflex_V1.1 - GP2040-CE/.DS_Store
boards/Reflex_V1.1 - GP2040-CE/jlcpcb/.DS_Store
.DS_Store
boards/Reflex_V1.1 - GP2040/.DS_Store
